<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Component Lib Demo!!!
  </h1>
</div>
<div class="form-container">
  <form class="demo-form" #sampleForm="ngForm" [formGroup]="form">
    <md-autocomplete formControlName="fruit1" placeholder="Pick Fruit via Fuzzy Search" searchType="fuzzy"></md-autocomplete>
    <md-autocomplete formControlName="fruit2" placeholder="Pick Fruit via Starts With Search" searchType="startsWith"></md-autocomplete>
    <md-datepicker formControlName="activePicker" placeholder="Select Date" [disable]="disable"></md-datepicker>
    <mat-slide-toggle formControlName="isChecked" (change)="toggleDatePicker($event)">Slide me to enable or disable date picker</mat-slide-toggle>
  </form>
  <div class="results-container">
    <div>
      <h3>Fruit selected with Fuzzy Search:</h3>
      <p>{{formatSelectedFruits(sampleForm.value.fruit1)}}</p>
    </div>
    <div>
      <h3>Fruit selected with StartsWith Search:</h3>
      <p>{{formatSelectedFruits(sampleForm.value.fruit2)}}</p>
    </div>
    <div>
      <h3>Date Picker Element Selected Value:</h3>
      <p>{{formatSelectedDate(sampleForm.value.activePicker)}}</p>
    </div>
    <div></div>
  </div>
</div>


